html,
body {
  height: 100%;
}

body {
  color: var(--dark-gray);
  font-family: 'Proxima Nova', Helvetica;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--light-blue);
  text-decoration: none;
}

/**
 * hide ugly gray gradient
 */
select,
input:not([type='radio']) {
  -webkit-appearance: none;
}

.Content {
  padding-top: var(--header-height);
  padding-bottom: var(--footer-height);
}

.PublicContent {
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 85%,rgba(255,255,255,0) 100%);
  margin:
    calc(var(--public-header-height) + var(--spacing))
    var(--spacing)
    calc(var(--public-footer-height) + var(--spacing))
    var(--spacing);
  -webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,.2);
  box-shadow: 0 0 2px 0 rgba(0,0,0,.2);
  padding: calc(var(--spacing) * 2);
  border-top: 3px solid var(--gray);
  position: relative;
}

@media (--medium-viewport) {
  .PublicContent {
    max-width: calc(var(--max-container-width) - var(--spacing) * 2);
    margin:
      calc(var(--public-header-height) + var(--spacing))
      auto
      calc(var(--public-footer-height) + var(--spacing))
      auto;
  }
}
