html,
body {
  height: 100%;
}

body {
  color: var(--dark-gray);
  font-family: 'Proxima Nova', Helvetica;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--light-blue);
  text-decoration: none;
}

/**
 * hide ugly gray gradient
 */
select,
input {
  -webkit-appearance: none;
}

.Content {
  padding-top: var(--header-height);
  padding-bottom: var(--footer-height);
}
