@media (--large-viewport) {
  .PublicContent {
    max-width: calc(var(--max-container-width) - var(--spacing) * 2);
    margin:
      calc(var(--public-header-height) + var(--spacing))
      auto
      0
      auto;
  }
}

@media (--small-viewport) {
  .PublicGroup .PublicContent {
    padding: 1rem 1rem 5rem 1rem;
    max-width: calc(var(--public-header-height) + var(--spacing)) auto 0 auto;
  }
  .PublicGroup-video, .PublicGroup-image, .PublicGroup-metricContainer{
    width: 100%;
    margin-bottom: 1rem;
  }
  .PublicGroup-metricContainer {
    padding-left: 0;
  }

  .PublicHeader-tagLine .Tagline {
    font-size: .8rem;
  }

  .PublicGroup-metricContainer .Metric {
    font-size: 1rem;
    min-width: 50%;
    display: inline-block;
  }
  .Metric .Metric-value {
    font-size: 1.5rem;
  }
  .Metric .Metric-label {
    font-size: .8rem;
  }
  .PublicGroup .Button {
    /* TODO: Either kill yourself of find a workaround */
    display: block !important;
  }
  .PublicGroup-members {
    width: 100%;
    margin: 0 auto;
  }
  .DonationPicker {
    display: flex;
    justify-content: space-between;
  }
  .PublicGroup-members .UsersList {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
  }
  .PublicGroup-quoteText {
    padding-left: 0px;
  }
  .PublicContent .PublicGroup-expenses, .PublicContent .PublicGroup-donations {
    width: 100%;
    padding-right: 0;
    margin-bottom:3rem;
  } 
  .DonationPicker-amount {
    font-size: 1rem;
  }
  label:not(:last-child) {
    margin-right: 1rem;
  }
  label span {
    font-size: 1rem;
  }
  .PublicFooter .PublicFooter-menu {
    line-height: 30px;
  }
  .PublicFooter img {
    max-height: 30px;
  }
}