:root {
  --light-gray: #F9FAFA;
  --gray: #DDE1E4;
  --dark-gray: #7A7B82;
  --darkest-gray: #e7ecf1;
  --light-blue: #7FADF2;
  --green: #88C92E;
  --dark-green: #6eb808;
  --red: #C92E5A;
  --dark-red: #bd1847;
  --orange: #F3C524;
  --yellow: #FFFBE1;
  --gold: #CFA236;
  --spacing: 1rem;
  --header-height: 62px;
  --footer-height: 72px;
}
