:root {
  --light-gray: #F9FAFA;
  --gray: #DDE1E4;
  --dark-gray: #7A7B82;
  --darkest-gray: #e7ecf1;
  --light-blue: #7FADF2;
  --aqua: #34D6BF;
  --green: #88C92E;
  --dark-green: #88C92E;
  --red: #C92E5A;
  --dark-red: #C92E5A;
  --orange: #F3C524;
  --yellow: #FFFBE1;
  --gold: #CFA236;
  --spacing: 1rem;
  --header-height: 62px;
  --public-header-height: 60px;
  --footer-height: 72px;
  --image-upload-height: 160px;
  --image-upload-child-height: 100px;
  --max-container-width: 1070px;
}

@custom-media --medium-viewport (min-width: 1070px);
