.Button {
  color: white;
  border-radius: 3px;
  border: 1px solid transparent;
  vertical-align: middle;
  text-transform: uppercase;
  padding: calc(var(--spacing) * 0.75) var(--spacing);
  text-align: center;
}

.Button span,
.Button .Icon:before {
  vertical-align: middle;
}

.Button .Icon {
  margin-right: calc(var(--spacing) / 2);
}

.Button--submit {
  background-color: var(--orange);
}

.Button--login {
  background-color: var(--orange);
  display: block;
}

.Button--approve {
  background-color: var(--green);
  margin-right: calc(var(--spacing)/2);
}

.Button--approve:hover,
.Button--approve:active {
  background-color: var(--dark-green);
}

.Button--reject {
  background-color: var(--red);
  margin-left: calc(var(--spacing)/2);
}

.Button--reject:hover,
.Button--reject:active {
  background-color: var(--dark-red);
}

.Button--approve,
.Button--reject {
  box-sizing: border-box;
  width: calc(50% - calc(var(--spacing)/2));
  float: left;
}

.Button--inProgress,
.Button--inProgress:hover {
  background-color: var(--gray);
  -webkit-transition: all 350ms ease-out;
  -moz-transition: all 350ms ease-out;
  -ms-transition: all 350ms ease-out;
  -o-transition: all 350ms ease-out;
  transition: all 350ms ease-out;
}

