.DonationPicker-amount {
  width: 25%;
  display: inline-block;
}

.DonationPicker-amount--selected {
  color: var(--green);
}

.DonationPicker-input .Field {
  margin-top: var(--spacing);
  width: 100%;
  box-sizing: border-box;
}

.DonationPicker-currency {
  display: block;
  content: '';
  width: 48px;
  height: 48px;
  background: red;
}
