.DonationForm-header {
  text-align: center;
}

.DonationForm-name {
  font-weight: bold;
  padding-bottom: calc(var(--spacing) / 2);
}

.DonationForm-description {
  margin-bottom: calc(var(--spacing) * 2);
}

.DonationForm-bold {
  font-weight: bold;
  margin-top: var(--spacing);
  margin-bottom: calc(var(--spacing) / 2);
}

.DonationForm-select,
.DonationForm .SelectContainer {
  width: 100%;
}

.DonationForm-buttonContainer {
  text-align: center;
  margin-top: var(--spacing);
}

.DonationForm-button {
  display: inline-block;
}

.DonationForm .Input--fullwidth .Field{
  width: 100%;
  box-sizing: border-box;
}

.DonationForm-addNew {
  float: right;
  font-weight: normal;
  font-variant: small-caps;
  text-transform: uppercase;
  color: var(--light-blue);
}
