.DonationPicker-amount {
  display: inline-block;
}

.DonationPicker-amount:not(:last-child) {
  margin-right: var(--spacing);
}

.DonationPicker-amount--selected {
  color: var(--green);
  font-weight: bold;
}

.DonationPicker-input .Field {
  margin-top: var(--spacing);
  width: 100%;
  box-sizing: border-box;
}

.DonationPicker-currency {
  display: block;
  content: '';
  width: 48px;
  height: 48px;
  background: red;
}
