.DonationMethodForm-form {
  margin-top: var(--spacing);
}

.DonationMethodForm-label {
  font-weight: bold;
  padding-bottom: calc(var(--spacing) / 2);
}

.DonationMethodForm-select {
  width: 100%;
  margin-bottom: calc(var(--spacing) / 2);
}

.DonationMethodForm-input .Field {
  width: 100%;
  box-sizing : border-box;
}

.DonationMethodForm-buttonContainer {
  text-align: center;
}

.DonationMethodForm-addButton {
  display: inline-block;
}
