.ImageUpload {
  padding: var(--spacing);
  padding-top: calc(var(--spacing) * 2);
  background-color: var(--light-gray);
  text-transform: uppercase;
  text-align: center;
  color: #CDD0D4;
  margin-bottom: var(--spacing);
}

.ImageUpload input {
  opacity: 0;
  height: 0;
  width: 0;
}

.ImageUpload img {
  width: 90px;
  height: auto;
  padding-bottom: var(--spacing);
}
