.Metric {
  text-align: left;
  margin-bottom: calc(var(--spacing) / 2);
}

.Metric-value {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: calc(var(--spacing) / 4);
}

.Metric-label {
  color: var(--light-blue);
  text-transform: uppercase;
  font-weight: bold;
}