.Notification {
  padding: 1rem;
  color: white;
  position: fixed;
  top: var(--header-height);
  left: 0;
  right: 0;
}

.Notification--error {
  background-color: var(--red);
}

.Notification--success {
  background-color: var(--green);
}

.Notification--warning {
  background-color: var(--orange);
}

.Notification--info {
  background-color: var(--light-blue);
}

.Notification--hide {
  display: none;
}
