.ProfilePhotoUpload {
  /*padding: var(--spacing);
  height: var(--profilephoto-upload-height);
  margin-bottom: var(--spacing);
  background-color: var(--light-gray); */
  text-transform: uppercase;
  text-align: center;
  color: #CDD0D4;
  overflow: auto;
}

.ProfilePhotoUpload-input {
  opacity: 0;
  height: 0;
  width: 0;
}

.ProfilePhotoUpload-img {
  border-radius: 50%;
  margin: auto;
}