.PublicGroupHeader {
  text-align: center;
  padding: var(--spacing) 0;
}

.PublicGroupHeader-name {
  padding-bottom: calc(var(--spacing)/2);
  font-weight: bold;
}

.PublicGroupHeader-description {
  padding-bottom: calc(var(--spacing));
}
