.PublicGroup-video, .PublicGroup-image {
  width: 70%;
  display: inline-block;
}

.PublicGroup-image img {
  max-width: 100%;
}

.PublicGroup-metricContainer {
  display: inline-block;
  vertical-align: top;
  padding-left: calc(var(--spacing) * 1.25);
  width: 30%;
  box-sizing: border-box;
}

.PublicGroup-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: calc(var(--spacing) * 2);
  margin-bottom: calc(var(--spacing) * 2);
}

.PublicGroup-quoteUser .ProfilePhoto,
.PublicGroup-quoteName {
  display: inline-block;
}

.PublicGroup-quoteUser {
  width: 30%;
  display: inline-block;
  vertical-align: top;
}

.PublicGroup-quoteName {
  padding-left: var(--spacing);
  vertical-align: top;
  font-size: 1.25rem;
}

.PublicGroup-quoteText {
  font-style: italic;
  display: inline-block;
  width: 70%;
  padding-left: calc(var(--spacing) * 2);
  box-sizing: border-box;
  line-height: 24px;
}

.PublicGroup-expenses,
.PublicGroup-donations {
  width: 50%;
  padding-right: calc(var(--spacing) * 4);
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}

.PublicGroup .Button {
  display: inline-block;
  margin-top: var(--spacing);
  font-weight: bold;
  padding: 1rem 1.5rem;
  font-size: 1.3rem;
}

.PublicGroup .DonationPicker-amount {
  max-width: 100px;
}

.PublicGroup .UsersList {
  padding-bottom: var(--spacing);
}

.PublicGroup-backers .UsersList {
  text-align: left;
}

.PublicGroupForm-radioLabel {
  padding: 0 calc(var(--spacing) / 2);
}

.GroupLogo {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  text-align:center;
  background-size: contain;
  margin: 0 auto 30px;
}

.PublicGroup-logo {
  max-width: 150px;
}

.PublicGroup .Transaction {
  border-bottom: none;
}

.PublicGroup .ShareIcon {
  padding-right: calc(var(--spacing) / 2);
}

.PublicGroup-motto {
  font-size: 1.5rem;
  max-width: 850px;
  margin: 0 auto var(--spacing) auto;
}

.PublicGroup-donationIcon,
.PublicGroup-expenseIcon {
  font-size: 40px;
  padding: 2px;
  float: left;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.PublicGroup-emptyDonation,
.PublicGroup-emptyExpense {
  vertical-align: top;
  line-height: 1.3;
  font-style: italic;
}
