
.PublicGroup .Button {
  display: inline-block;
  margin-top: var(--spacing);
  font-weight: bold;
}

.PublicGroup .DonationPicker-amount {
  max-width: 100px;
}

.PublicGroup-transactions .SubTitle {
  margin: 0;
}

.PublicGroup-well {
  margin: 0 -var(--spacing);
  border-top: 1px solid var(--gray);
}

.PublicGroup .UsersList {
  padding-bottom: var(--spacing);
}

.PublicGroup-backers .UsersList {
  text-align: left;
}

.PublicGroupForm-radioLabel {
  padding: 0 calc(var(--spacing) / 2);
}

.PublicGroup-tick {
  float: right;
  font-weight: lighter;
}
