.TransactionDetail {
  padding: var(--spacing);
}

.TransactionDetail-image {
  float: left;
}

.TransactionDetail-image img {
  max-width: 100px;
  max-height: 125px;
}

.TransactionDetail-info {
  float: left;
  padding-left: var(--spacing);
  padding-bottom: calc(var(--spacing) * 2);
  width: calc(100% - 55px - 3rem);
  box-sizing: border-box;
}

.TransactionDetail-price {
  font-size: calc(var(--spacing) * 2);
}

.TransactionDetail-controls {
  clear: both;
  padding-top: calc(var(--spacing) * 2);
}

.TransactionDetail-category {
  text-transform: uppercase;
  font-size: 0.8rem;
  padding-top: var(--spacing);
}

.TransactionDetail-category .SelectContainer {
  margin-top: calc(var(--spacing) / 2);
  display: block;
  width: 100%;
}
