.EntryComment {
  clear: both;
  overflow: hidden;
  border-top: 1px solid var(--gray);
  padding: var(--spacing);
}

.EntryComment .ProfilePhoto {
  float: left;
}

.EntryComment-content {
  padding-left: 6rem;
}

.EntryComment-fullName,
.EntryComment-date {
}

.EntryComment-fullName {
  color: var(--light-blue);
  font-weight: bold;
}

.EntryComment-date {
  font-size: 12px;
}

.EntryComment-comment {
  margin-top: 0.5rem;
  font-style: italic;
}


